# Modelo das Variáveis de Conexão com o Banco de Dados (Para você colocar no painel do Render)
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_USER=usuario_do_banco
DB_PASSWORD=senha_do_banco
DB_NAME=mae_filho
DB_PORT=4000
DB_SSL=true

# A porta será definida automaticamente pelo Render, não precisa preencher
PORT=
